.form {
    background: black;
    height: 200px;
    margin: 0;
  }
  
  .form h1 {
    margin: 0;
    padding-top: 100px;
    text-align: center;
    color: #f73b83;
    font-size: 3rem;
  }

  .btn {
    color: #f73b83; 
    background-color: #f73b83;
    font-size: 20px;
    letter-spacing: 12px;
    padding: 10px 10px 10px 10px;
    line-height: 1;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
  }