/* body {
  margin: 0;
  height: 200px;
  background-color: black;
  font-size: 1.3rem;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px; */
  /* font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* nav {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
      "Courier New", monospace;
} */

/* .nav {
  height: 200px;
  background-color: black;
} */

/* .nav {
  height: 200px;
  background-color: black;
  font-size: 1.3rem;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
} */

*{
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
  list-style-type: none;
}

.navbar {
  padding: 20px;
    background: black;
    color: silver;
    display: flex;
    list-style-type: none;
  }


  
  .nav ul {
    padding: 20;
    margin: 0;
    list-style-type: none;
  }
  
  .navbar a {
    color: silver;
    justify-content: right;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: px;
    list-style-type: none;
    padding: 30px;

  }

  
  .navbar li.active {
    background-color: black;
    list-style-type: none;

  }

  .Mari {
    height: 300px;
    font-size: 2rem;
    text-align: center;
    color: silver;
    text-decoration: none;
    list-style-type: none;

  }
  
  .Mari h1 {
    padding-top: 30px;
    text-align: center;
    color: #f73b83;
    font-size: 3rem;
    text-decoration: none;
    list-style-type: none;
    margin: 2%;

    
  }
 

  a:hover { color: rgb(255, 0, 106); }