.portfolio {
    background: black;
    height: 60px;
  }
  
  .portfolio a {
    color: silver;
    justify-content: right;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }