.portfolioCard {
  background: black;
  height: 0px;
}

.portfolioCard h1 {
  margin: 0%;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: #f73b83;
  background-color: black;
  font-size: 3rem;
}
