.work {
    background: black;
    height: 200px;
  }
  
  .work h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: #f73b83;
    background-color: black;
    font-size: 3rem;
  }